.menu-hidden{
  a{
    font-size: 0;
    line-height: 1 !important;
  }
  i{
    width: auto;
    font-size: 1.2rem;
  }
}
a , .label{
  padding-left: 20px !important;
  padding-right: 20px !important;
}
