<mat-grid-list cols="1" rowHeight="100px">

  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1">
    <app-s-profile-toolbar></app-s-profile-toolbar>
  </mat-grid-tile>

  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1">
    <button mat-raised-button color="primary">Primary</button>
  </mat-grid-tile>

  <mat-grid-tile
    [colspan]="1"
    [rowspan]="2">
    <app-s-states-mail></app-s-states-mail>
  </mat-grid-tile>

  <mat-grid-tile
    [colspan]="1"
    [rowspan]="2">
    <app-s-labels-mail></app-s-labels-mail>
  </mat-grid-tile>
</mat-grid-list>
